/* ==========================
   PRIMEIRA CHANCE V2
========================== */

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',sans-serif;
    background:#F8FAFC;
    color:#1E293B;
}

/* Variáveis */

:root{

    --primary:#2563EB;
    --primary-dark:#1D4ED8;

    --success:#22C55E;

    --background:#F8FAFC;

    --white:#FFFFFF;

    --text:#1E293B;

    --text-light:#64748B;

    --border:#E2E8F0;

    --shadow:0 12px 40px rgba(0,0,0,.08);

    --radius:18px;

    --container:1200px;

}

/* Container */

.container{

    width:min(92%,1200px);

    margin:auto;

}
